.login{
    background-color: rgb(70, 247, 70);
    height: 10%;
    width: 60%;
    border-radius: 10px;
}
.user{
    color: rgb(70, 247, 70);
}
.create{
    color: rgb(70, 247, 70);
}
.over{

    background-color:blueviolet;    
    height: 100vh;
    padding: 5%;
    width: 100%;
  
}
.cover{
    background-color: aliceblue;
    height: 80%;
    width: 10%;
    
}
.img{
    height:60%;
    width: 0%;
    margin-top: 10%;
    border-radius: 50%;
  
}

